<!--
 Application: backbaseExercise
 Module: backbaseExercise_header
 ======================================================================================================================
 Header Template
 
 ======================================================================================================================
 header.html
 
 Created by Thien Nguyen
 Oct 20th, 2016
-->

<div layout="column" layout-padding layout-align="center center">
	<!--Logo (click to go to home page)-->
	<a ui-sref="main">
		<img src="./assets/images/backbase_logo.png" width="228" />
	</a>

	<!--Application sub title-->
	<div class="md-body-2">Frontend Developer Exercise 2.6</div>
</div>

<md-divider></md-divider>