<!--
 Application: backbaseExercise
 Module: backbaseExercise_footer
 ======================================================================================================================
 Footer Template
 
 ======================================================================================================================
 footer.html
 
 Created by Thien Nguyen
 Oct 20th, 2016
-->

<md-divider></md-divider>

<div layout="column" layout-gt-xs="row" layout-align="center center">

	<!--Name-->
	<section>
		by
		<md-button class="md-primary" ng-href="https://www.linkedin.com/in/thiennp" target="_blank" aria-label="LinkedIn">
			Nguyen Phong Thien
		</md-button>
	</section>

	<!--Contact informations-->
	<section>
		<md-button class="md-primary md-icon-button" ng-href="mailto:nguyenphongthien@gmail.com" aria-label="Email">
			<i class="material-icons">mail</i>
		</md-button>

		<md-button class="md-primary md-icon-button" ng-href="tel:+84906146486" aria-label="Phone">
			<i class="material-icons">phone</i>
		</md-button>
	</section>
</div>