<!--
 Application: backbaseExercise
 Module: backbaseExercise
 ======================================================================================================================
 Main Template
 
 ======================================================================================================================
 main.html
 
 Created by Thien Nguyen
 Oct 20th, 2016
-->

<div layout-margin>

	<!--Application introductions-->
	<section class="md-whiteframe-z1">

		<!--Header-->
		<md-toolbar>
			<div class="md-toolbar-tools">
				Backbase Frontend Developer Exercise 2.6
			</div>
		</md-toolbar>

		<!--Main content-->
		<div layout-padding layout="row" layout-wrap>

			<!--Introduction-->
			<div flex="100" layout-padding>
				<p>The application will show the list of festival events in Amsterdam.</p>

				<p>When user click on an event, the application will show the event's locations label and description and below is a map with one
					or some markers of the locations.</p>

				<p>If there're more than one location, the map will automatically fit the them so user can see all of the locations markers,
					otherwise, the map center will be the first location and default zoom will be 10</p>

				<md-divider></md-divider>
			</div>

			<!--Frameworks-->
			<div flex="100" flex-gt-xs="50">
				<md-list>
					<md-subheader class="md-no-sticky">Frameworks:</md-subheader>

					<md-list-item>
						<md-button ng-href="https://angularjs.org/" target="_blank">AngularJS (1.5.8)</md-button>
					</md-list-item>

					<md-list-item>
						<md-button ng-href="https://material.angularjs.org/" target="_blank">Angular Material (1.1.1)</md-button>
					</md-list-item>
				</md-list>
			</div>

			<!--Dependencies-->
			<div flex="100" flex-gt-xs="50">
				<md-list>
					<md-subheader class="md-no-sticky">Dependencies:</md-subheader>

					<md-list-item>
						<md-button ng-href="https://docs.angularjs.org/api/ngAnimate" target="_blank">Angular Animate (1.5.8)</md-button>
					</md-list-item>

					<md-list-item>
						<md-button ng-href="https://docs.angularjs.org/api/ngResource" target="_blank">Angular Resource (1.5.8)</md-button>
					</md-list-item>

					<md-list-item>
						<md-button ng-href="https://docs.angularjs.org/api/ngSanitize" target="_blank">Angular Sanitize (1.5.8)</md-button>
					</md-list-item>

					<md-list-item>
						<md-button ng-href="https://github.com/angular-ui/ui-router" target="_blank">Angular UI Router (0.3.1)</md-button>
					</md-list-item>
				</md-list>
			</div>
		</div>
		<md-divider></md-divider>
		<div layout="row" layout-padding flex layout-align="center center">

			<!--CTA-->
			<md-button class="md-primary md-raised" ui-sref="event">Start application</md-button>
		</div>
	</section>
</div>