<!--
 Application: backbaseExercise
 Module: backbaseExercise_event
 ======================================================================================================================
 Event List Template
 
 ======================================================================================================================
 event_list.html
 
 Created by Thien Nguyen
 Oct 20th, 2016
-->

<!--Loading icon (display while data is being loaded)-->
<div layout="row" layout-align="center center" layout-padding ng-if="vm.loading">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<!--Main area-->
<md-list layout="column" ng-if="!vm.loading">

	<!--Sub header-->
	<md-subhead>
		<div flex flex-offset="10" flex-offset-gt-xs="5" layout-padding>
			List of events in Amsterdam
		</div>
	</md-subhead>

	<!--List of events-->
	<md-list-item class="event__item" ng-repeat="(index, event) in vm.eventList track by event.id">

		<!--Event's index-->
		<div class="md-body-2" flex="10" flex-gt-xs="5">
			<div layout="row" layout-align="start center">
				<span flex></span> {{index + 1}}
			</div>
		</div>

		<!--Event's title-->
		<md-button class="md-primary" ng-click="vm.showEvent(event)" aria-label="event.label[0].value">
			<span ng-repeat-start="(index, label) in event.label">
				{{label.value}}
			</span>

			<!--Divider (only show if this is not the last label)-->
			<span ng-repeat-end ng-if="index < event.label.length-1">
				-
			</span>
		</md-button>
	</md-list-item>
</md-list>