<!--
 Application: backbaseExercise
 Module: backbaseExercise_event
 ======================================================================================================================
 Event Detail Template
 
 ======================================================================================================================
 event_detail.html
 
 Created by Thien Nguyen
 Oct 20th, 2016
-->

<md-dialog aria-label="Show Event" class="event-detail">
    <md-dialog-content>

        <!--Loading icon (display while data is being loaded)-->
        <div layout="row" layout-align="center center" layout-padding ng-if="vm.loading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <div class="md-title" layout-padding layout="row" ng-if="!vm.loading">
            <div ng-repeat-start="item in vm.eventLocation.label">
                {{item.value}}
            </div>
            <!--Only show if there's more than one label, and this is not the last one-->
            <div ng-repeat-end ng-if="index < vm.eventLocation.label.length">, </div>
            <span flex></span>
            <md-button class="md-primary md-icon-button" ng-click="vm.close()">
                <i class="material-icons">clear</i>
            </md-button>
        </div>

        <!--Main area-->
        <div layout="column" ng-if="!vm.loading">

            <!--Sub header-->
            <md-subhead>
                <div layout-padding ng-repeat="item in vm.eventLocation.description">
                    <div ng-bind-html="item.value"></div>
                    <md-divider></md-divider>
                </div>
            </md-subhead>

            <!--Map of event locations-->
            <div layout="row" layout-padding layout-wrap>
                <div layout="row" layout-align="center center" class="event-detail__map-loading" layout-padding flex="100" ng-if="vm.mapLoading">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>

                <div id="map" class="event-detail__map" ng-init="vm.initMap()">
                </div>
            </div>

            <div layout="row" layout-align="end center" layout-padding>
                <md-button class="md-primary md-raised" ng-click="vm.close()">Close</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>