/**
 * Application: backbaseExercise
 * Styles for event module
 * --------------------------------------------------------------------------------------------------------------------
 * event_detail.scss
 * 
 * Created by Thien Nguyen
 * Oct 20th, 2016
 */

.event-detail {
  &__map-loading {
    height: 400px;
    width: 100%;
  }
  
  &__map {
    height: 400px;
    padding: 0;
    width: 100%;
  }
}